{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Password Reset</legend>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p><br>
        {{ form|crispy }}
        <button type="submit" class="btn">Reset Password</button>
        <p class="login-text"><a href="{% url 'login' %}">Login here</a></p>
    </fieldset>
</form>
{% endblock %}