{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
            <p>Please enter (and confirm) your new password.</p><br>
            <legend>Password Reset</legend>
            {{ form|crispy }}
            <button type="submit" class="btn">Reset Password</button>
            <p class="login-text"><a href="{% url 'login' %}">Login here</a></p>
        </fieldset>
    </form>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}